<!doctype html>
<html>
	<head>
		<script src="Scripts/angular.js"></script>
		<script src="Scripts/Script9.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style7.css">
	</head>
	<body ng-app="myModule" style="font-family: Arial">
		<h1>Handling Events</h1>
		<div ng-controller="myController">
			Order By:<select  ng-model="sortColumn">
				<option value="name">Name Asc</option>
				<option value="dateOfBirth">Date of birth Asc</option>
				<option value="gender">Gender Asc</option>
				<option value="salary">Salary Asc</option>
					</select>
			<br/><br/>
			<table> 
				<thead>
					<tr>
						<th>Name</th>
						<th>Date Of Birth</th>
						<th>Gender</th>
						<th>Salary</th>
					</tr>
				</thead>
				<tbody>
				<tr ng-repeat="employee in employees | orderBy:sortColumn: false"><!--{{orderBy_expression | orderBy : expression : reverse}} OR
				<tr ng-repeat="employee in employees | orderBy:sortColumn">	{{orderBy_expression | orderBy : expression }} default is reverse false OR
				<tr ng-repeat="employee in employees | orderBy:'+name'">  {{orderBy_expression | orderBy : +expression}}  "+" for ascending "-" for descending-->
					<td>{{employee.name }}</td>	
					<td>{{employee.dateOfBirth | date :"dd/MM/yyyy" }}</td><!--{{expression | filtername:parameter}}-->
					<td>{{employee.gender }}</td>
					<td>{{employee.salary |	number :2}}</td><!--{{expression | filtername:parameter}}-->
				</tr>
			</tbody>
			</table>
		</div>
	</body>
</html>