<!doctype html>
<html>
	<head>
		<script src="Scripts/angular.js"></script>
		<script src="Scripts/Script10.js"></script>
		<link rel="stylesheet" type="text/css" href="css/style10.css">
	</head>
	<body ng-app="myModule">
		<h1>Sort By Table Header</h1>
		<div ng-controller="myController">
			
			<table> 
				<thead>
					<tr>
						<th ng-click="sortData('name')">
							Name <div ng-class="getSortClass('name')"></div>
						</th>
						<th ng-click="sortData('dateOfBirth')">
							Date Of Birth <div ng-class="getSortClass('dateOfBirth')"></div>
						</th>
						<th ng-click="sortData('gender')">
							Gender <div ng-class="getSortClass('gender')"></div>
						</th>
						<th ng-click="sortData('salary')">
							Salary <div ng-class="getSortClass('salary')"></div>
						</th>
					</tr>
				</thead>
				<tbody>
				<tr ng-repeat="employee in employees | orderBy:sortColumn: reverseSort">
					<td>{{employee.name }}</td>	
					<td>{{employee.dateOfBirth | date :"dd/MM/yyyy" }}</td>
					<td>{{employee.gender }}</td>
					<td>{{employee.salary |	number :2}}</td>
				</tr>
			</tbody>
			</table>
		</div>
	</body>
</html>